.analysis-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;

  .on-off {
    border: 1px rgb(24, 218, 174) solid;
    color: rgb(24, 218, 174);
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    flex-wrap: wrap;
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &.active,
    &.active:hover {
      color: white;
      background: rgb(24, 218, 174);
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 4px 4px 0 rgba(10, 10, 10, .4);
      ;
    }
  }

}