.dashboard-page {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      min-width: 355px;
      min-height: 250px;

      &.balance-block {
        min-height: 100px;
      }

      .balance {
        border: 1px dashed rgb(120, 120, 120);
        border-radius: 1.2rem;
        padding: 1rem 0 1rem 0;
        margin-bottom: 1.5rem;
      }

      canvas {
        transform: translateX(-0.3rem);
      }
    }
  }
}