@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.8rem;
}

section {
  margin: 0 auto;
  max-width: Min(80vw, 1000px);
}