@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.8rem;
}

section {
  margin: 0 auto;
  max-width: Min(90vw, 1050px);
  position: relative;
  padding-bottom: 5rem;
}

a.back {
  position: absolute;
  top: 0;
  left: 0.5rem;
}

.chart-container {
  position: relative;
}